
html {
    background-color:lightgray;
}
body {
    font-family:helvetica, arial, sans-serif; 
    
    background-color:#fff;
    color:#444;
}
a {
    text-decoration:none;
    color:cadetblue;
}
p {
  text-align:left;
}
header {
    
    background-color:#fcf9f3;
}
header ul {
    list-style:none;
}

header a {
    color:#fff;
}
h2 {
    text-align:center;
}
article {
    padding:1rem 2rem;
}



aside {
    width:50%;
    margin:1.5rem auto 2.5rem;
    padding:1rem 1rem .5rem;
    background-color:lightgray;
}
aside img {
    float:left;
    width:20%;
    margin-right:1rem;
}
aside h3 {
    margin-top:.5rem;
}

#contact article {
  width:50%;
  margin:0 auto;
}
#contact p {
  font-size:1.3rem;
}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}